@use '../../style/variables' as vars;

// Block
.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid vars.$grey-color;
}

// Elements
.header__logo-image {
    max-width: 200px;
}

.header__list-group {
    display: flex;
    gap: 25px;
    padding: 0;
    margin-left: auto;
    margin-right: 125px;
}

.header__list-item {
    list-style-type: none;
    padding: 10px;
    &:hover {
        background-color: vars.$base-color;
        color: #fff;
        border-radius: 10px;
    }
}

.header__link {
    text-decoration: none;
    color: inherit;
}

.header__message {
    margin: 0 auto;
    color: vars.$grey-color;
}


// Modifiers
.header--hidden {
    display: none;
}
